[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=pavel
Group=pavel
WorkingDirectory=path_to_project
ExecStart=path_to_project/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock DjangoWeb.wsgi:application


[Install]
WantedBy=multi-user.target